/* * {
  margin: 0;
  padding: 0;
} */

.product-details-wrapper {
  padding-top: 3rem;
}

#product-image {
  flex-basis: 30%;
}

#product-image img {
  width: 100%;
}

.product-details-box {
  flex-basis: 60%;
}

.product-name {
  font-size: 3rem;
}

.product-price {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.product-description {
  margin-top: 1.5rem;
}

.product-description-title {
  color: gray;
  margin-bottom: 1rem;
}

.product-description-data {
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: justify;
}
/* 
#goToCartBtn {
  margin-top: 25rem;
  margin-right: 20rem;
  width: 250px;
} */

.product-Details-action {
  margin-top: 1.5rem;
  width: 250px;
}
